
.idea/workspace.xml
.idea/workspace.xml
Applicativo de login/LoginApp.py
CursoOtavio/Laços de repeticao/__init__.py
.idea/.name
*.xml
.idea/.name
.idea/Learn_python.iml
.idea/misc.xml
.idea/workspace.xml
*.iml
